:root {
  --jaune: #f5b013;
  --noir: #1e1e1e;
  --font1: "museo slab";
  --font2: "Anton", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  #nom {
    flex-direction: column;
    align-items: center;
    margin-right: 0 !important;
  }

  h1 {
    font-size: 3vw !important;
  }

  h2 {
    font-size: 1.2vw !important;
  }

  #logo {
    height: 4vw !important;
  }

  nav {
    flex-direction: column !important;
  }

  nav > a {
    border-right: none !important;

    margin: 0.5vw 0 !important;
  }

  #section1 {
    flex-wrap: wrap;
  }
  .match {
    width: 50vw !important;
    justify-content: center;
  }

  #section2 {
    display: flex;
    justify-content: center;
  }
  #prochain {
    margin-left: 1rem;
    width: 50vw !important;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5vw;
  }
}





body {
  width: 100%;
  background-image: url("images/Fond.jpg");
  background-size: 100%;
  background-attachment: fixed;
  font-family: "museo slab";
  font-weight: bolder;
}


/*******************************************HEADER******/

header {
  font-family: "Anton", sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  z-index: 1;
}

h2 {
  font-size: 1.5vw;
  margin-bottom: auto;
}

.debut {
  border-bottom-color: var(--jaune);
  border-bottom-style: solid;
  background-color: #1b1b1b;
  padding: 0;
}

#logo {
  z-index: 2;
  height: 5vw;
  width: auto;
  margin-right: 1vw;
  margin-top: 1vw;
}

#nom {
  font-style: italic;
  margin-top: -0.5vw;
  margin-bottom: 0.5vw;
  display: flex;
  justify-content: center;
  margin-right: 27vw;
  font-weight: 100;
}

h1 {
  font-size: 4vw;
}
a {
  font-size: 1vw;
}
nav {
  font-family: "museo slab";
  margin-top: -1vw;
  background-color: #f5b013;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav > a {
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: #f5b013;
  border-right: 0.1vw solid rgba(0, 0, 0, 0.1);
  padding: 1vw;
}

.bouton:hover {
  color: white;
  background-color: black;
}


main {
  background-color: rgb(255, 255, 255);
  margin-left: 20vw;
  margin-right: 20vw;
  overflow: hidden;
}

/****************************************************** prochain match **************/
.equipe {
  margin-top: 3%;
  height: 5vw;
  width: 5vw;
}

#section2 {
  margin-top: 2vw;
  display: flex;
  font-weight: 100;
  color: #f5f5f5;
}
h2 {
  font-weight: 100;
  font-family: var(--font2);
  font-weight: 100;
}
#change{
  font-size: 0.7vw!important ;
}
#prochain {
  background-color: var(--noir);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin-left: 2vw;
  border-radius: 2vw;
  width: 20vw;
  color: var(--jaune);
  box-shadow: var(--jaune) 0vw 0vw 2vw;
}
#prochain div {
  display: flex;
  margin-bottom: 2vw;
  align-items: center;
}
#prochain p {
  margin-left: 2vw;
  font-size: 1vw;
}
#prochain h2 {
  padding-top: 1vw;
}

/*********************************CLASSEMENT*********************************************/

.classement {
  box-shadow: #f5b013 0vw 0vw 2vw;
  border-radius: 2vw;
  height: 20vw;
  margin-left: 6vw;
  background-color: var(--noir);
  color: var(--jaune);
}
.classement h2 {
  text-align: center;
}
#classement2 {
  font-family: var(--font2);
  font-size: 1vw;
  display: flex;
  width: auto;
}
#place {
  margin-top: 2.5vw;
  margin-right: -3vw;
  color: #ffde72;
}
#classement2 div {
  padding-left: 2vw;
  padding-right: 2vw;
  border-bottom-style: solid;
}
#classement2 h3 {
  letter-spacing: 0.2vw;
  margin-bottom: 1vw;
}
#classement2 p {
  margin-bottom: 1vw;
}
#classement3 {
  display: flex;
  font-size: 0.5vw;
}
#classement3 p {
  margin-left: 2vw;
}


/**********************************resultat************/

#resultat {
  width: 500%;
  display: flex;
}
#resultattitre {
  color: var(--jaune);
  text-shadow: var(--noir) 0 0 20px;
  margin-bottom: 2rem;
  margin-top: 3rem;
  text-align: center;
  font-size: 40px;
}
.material-symbols-outlined{
  font-size: 17px!important;
}
.match{
  margin-left: 3rem;
  background-color: var(--noir);
  border-radius: 2rem;
  display: flex;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: #f5b013 0vw 0vw 2vw;
  animation: scroll 20s linear infinite ;
}

@keyframes scroll{
  0% {
      transform: translateX(0%);
    }
  
    100% {
      transform: translateX(-142.5vw);
    }
}
.text-match{
  color: var(--jaune);
  font-family: var(--font1);
  margin: 1rem 1rem 1rem 1rem ;
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
}
h3{
  font-size: 1.5rem;
}


/*******************************PRESENTATION****************************/

#presentation{
  margin-top: 5rem;
  width: 100%;
}
#container-pre{
  display: flex;
  align-items: center;
}
#banniere{
  width: 50%;
}
.reseaux{
  width: 5%;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reseaux:hover{
  width: 7%;
}



#presentation p{
  color: var(--jaune);
  margin-left: 5rem;
  margin-right: 1rem;
  margin-top: 2rem!important;
  font-size: 1.1rem;
  line-height: 2rem;
  padding: 1rem;
  transform: skew(-15deg);
  
  
}
#para{
  overflow: visible;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190925/pngtree-black-background-material-design-with-yellow-image_315569.jpg);
  margin-left: 2rem;
  margin-right: 2rem;
}
#para h2{
  margin-top: 2rem;
  transform: skew(-30deg);
  text-align: center;
  color: var(--jaune);

}
#horaire{

  text-align: center;
  margin-left: -0rem!important;
  letter-spacing: 3px;
  word-spacing: 10px;

}
#para a{
  color:#f3d182;
  font-weight: 1000;
}
#para a:hover{
  color: var(--jaune);
  background-color: transparent;
}


/*************footer ************************/

#footer {
  margin-top: 3vw;
  margin-bottom: 0.5vw;
  text-align: center;
  font-size: 0.5vw;
}
